<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="alert alert-danger" role="alert" style="display:none;"></div>
  <div class="field">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no,:class=>"form-control",:placeholder=> "Mobile No", :required=> true %>
  </div>
  <div class="field">
    <%= f.label :imei_no %><br>
    <%= f.text_field :imei_no,:class=>"form-control",:placeholder => "Imei No", :required=> true %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
     <%= f.select(:vehicle_id ,Vehicle.all.map {|c| [c.registration_no, c.id]} ,{:prompt => "Select"}, {:class=>"form-control", :required=> true})%>
  </div>
  <div class="field">
    <%= f.label :is_enabled %><br>
    <%= f.check_box :is_enabled%>
  </div>
  <div class="actions">
    <%= f.submit "submit", :class=> "btn btn-primary btn-lg btn-block"%>
  </div>
<% end %>
