<h1>Listing stops</h1>

<table class="table table-striped table-bordered" id= "datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Timeperiod</th>
      <th>Sequence</th>
      <th>Route</th>
      <th>Is stop</th>
      <th>
      <% if current_user.role == "superuser" || current_user.role == "admin"%>
      
      <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td><%= stop.name %></td>
        <td><%= stop.latitude %></td>
        <td><%= stop.longitude %></td>
        <td><%= stop.timeperiod %></td>
        <td><%= stop.sequence %></td>
        <td><%= stop.route.name %></td>
        <td><%= stop.is_stop %></td>
         <td>
         <% if current_user.role == "superuser" || current_user.role == "admin"%>
        <%= link_to 'Edit', edit_stop_path(stop) %>
        <% end %>
        <% if current_user.role == "superuser"%>
        <%= link_to 'Destroy', stop, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if current_user.role == "superuser" || current_user.role == "admin"%>
<%= link_to 'New Stop', new_stop_path %>
<% end %>

<script>
	$(document).ready(function(){
		$('#datatable').dataTable({			
			
		});
		
	});
	
</script>
