<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stop.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @stop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @stop.longitude %>
</p>

<p>
  <strong>Timeperiod:</strong>
  <%= @stop.timeperiod %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @stop.sequence %>
</p>

<p>
  <strong>Route:</strong>
  <%= @stop.route %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
