<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @school.phone_no %>
</p>
<% if current_user.role == "superuser" || current_user.role == "admin"%>
<%= link_to 'Edit', edit_school_path(@school) %> |
<%end%>
<%= link_to 'Back', schools_path %>
