<%= form_for(@vehicle) do |f| %>
<% if @vehicle.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

	<ul>
		<% @vehicle.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :registration_no %>
	<br>
	<%= f.text_field :registration_no ,:class=> "form-control", :required => true,:placeholder => "Registration No"%>
</div>
<div class="field">
	<%= f.label :capacity %>
	<br>
	<%= f.number_field :capacity ,:class=> "form-control",:placeholder => "Capacity"%>
</div>
<div class="field">
	<%= f.label :vehicle_type %>
	<br>
	<%= f.text_field :vehicle_type ,:class=> "form-control", :required => true,:placeholder => "Vehicle Type"%>
</div>
<div class="field">	
	 <% if current_user.role == "superuser"%>
	<%= f.label :school_id %>
	<br> 	
	<%= f.select(:school_id ,School.all.map {|c| [c.name, c.id]} ,{:prompt => "Select"}, {:class=>"form-control", :required => true})%>
	<%else%>
	<%=f.hidden_field :school_id, :value=> @school.id %>
	<%end%>
</div>
<br>
<div class="actions">
	<%= f.submit "Submit",:class=> "btn btn-primary btn-lg btn-block"%>
</div>

<% end %>
