<p id="notice"><%= notice %></p>

<p>
  <strong>Registration no:</strong>
  <%= @vehicle.registration_no %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @vehicle.capacity %>
</p>

<p>
  <strong>Vehicle Type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
