<p id="notice"><%= notice %></p>

<p>
  <strong>Registration no:</strong>
  <%= @vehicle.registration_no %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @vehicle.capacity %>
</p>

<p>
  <strong>Vehicle Type:</strong>
  <%= @vehicle.vehicle_type %>
</p>
<% if current_user.role == "superuser" || current_user.role == "admin"%>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%end%>
<%= link_to 'Back', vehicles_path %>
