<!DOCTYPE html>
<html>
<head>
  <title>Gpstracker</title>
  <script src="//maps.google.com/maps/api/js?v=3&sensor=false&libraries=adsense"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header"%>
<div class="container">
	       <% if notice %>
			<div class="alert  alert alert-warning">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<%= raw(notice.titleize) %>
			</div>
			<% end %>
			<% if alert %>
			<div class="alert  alert-danger">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<%= raw(alert.titleize) %>
			</div>
			<% end %>
<%= yield %>
</div>

</body>
</html>
